@model IEnumerable<DigiLearn.Models.ActividadReconocimientoVocales>

@{
    ViewData["Title"] = "Actividad";
}

<h3>Actividad: Reconocimiento de Vocales</h3>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<div id="carouselReconocimientoAnimales" class="carousel carousel-dark slide mt-5" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-inner mt-md-5">
        <div class="carousel-item active">
            <div class="d-block mt-4 mt-md-5 text-center">
                <h1 class="kids-font">A</h1>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-block mt-4 mt-md-5 text-center">
                <h1 class="kids-font">E</h1>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-block mt-4 mt-md-5 text-center">
                <h1 class="kids-font">I</h1>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-block mt-4 mt-md-5 text-center">
                <h1 class="kids-font">O</h1>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-block mt-4 mt-md-5 text-center">
                <h1 class="kids-font">U</h1>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselReconocimientoAnimales" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselReconocimientoAnimales" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>