@model IEnumerable<DigiLearn.Models.ActividadReconocimientoVocales>

@{
    ViewData["Title"] = "Actividad";
}

<h3>Actividad: Reconocimiento de Vocales</h3>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<div id="carouselReconocimientoAnimales" class="carousel carousel-dark slide mt-5" data-bs-touch="false" data-bs-interval="false">
    <div class="carousel-inner mt-md-5">
        <div class="carousel-item active">
            <img src="~/img/vocales/letraA.jpg" class="d-block m-auto anim" alt="Letra A">
            <div class="d-block mt-4 mt-md-5 text-center">
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/vocales/letraE.jpg" class="d-block m-auto anim" alt="Letra E">
            <div class="d-block mt-4 mt-md-5 text-center">
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/vocales/letraI.jpg" class="d-block m-auto anim" alt="Letra I">
            <div class="d-block mt-4 mt-md-5 text-center">
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/vocales/letraO.jpg" class="d-block m-auto anim" alt="Letra O">
            <div class="d-block mt-4 mt-md-5 text-center">
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/vocales/letraU.jpg" class="d-block m-auto anim" alt="Letra U">
            <div class="d-block mt-4 mt-md-5 text-center">
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselReconocimientoAnimales" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselReconocimientoAnimales" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div>
    <br />
    <a asp-controller="Paciente" asp-action="Details" asp-route-id="@ViewData["PacienteId"]" style="font-size: 1.2em; color: orangered"><i class="far fa-arrow-alt-circle-left"></i>Regresar</a>
</div>