@{
    ViewData["Title"] = "Home Page";
}

<div class="row ">
    <div class=col-sm-10>
        <div class="text-center ">

            <div class="card border-warning mb-3" style="max-width: auto;">
                <div class="card-header">Bienvenid@s</div>
                <div class="card-body">
                    <img src="~/img/logo/logo.png "  />
                </div>
                <div class="card-footer">
                    <a class="nav-link text-info" asp-area="" asp-controller="Paciente" asp-action="Index">Paciente</a>
                </div>
                     
                    @*<a href="#" class="card-link">Another link</a>*@
                 </div>
        
        </div>
    </div>
</div>
