@model DigiLearn.Models.Paciente
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

html@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class=col-sm-12>
        <h3>CREAR PACIENTE</h3>
    </div>
</div>

<div class="row">
    <div class=col-sm-10>
        <form method="post" asp-action="CrearPaciente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="text" asp-for="FechaCreacion" class="form-control-plaintext bg-body" value="@DateTime.Now"  class="invisible" readonly />
            <input type="text" asp-for="ProfesionalId" value="@UserManager.GetUserAsync(User).Result.Id" class="invisible" />

            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="Diagnostico" class="control-label"></label>
                <input asp-for="Diagnostico" class="form-control" />
                <span asp-validation-for="Diagnostico" class="text-danger"></span>

            </div>

            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>

            </div>

            <div class="form-group">
                <input type="submit" value="Crear Paciente" class="btm btn-primary" />
            </div>

        </form>

    </div>
</div>


